---
import '~/styles/index.css'

interface Props {
	author?: string;
	title?: string;
	description?: string;
}

const {
	author      = `Baraq Kamsani`,
	title       = `Baraq Kamsani`,
	description = `Baraq Kamsani's personal website`,
	// ...props
} = Astro.props;
---

{/* <!-- Global Metadata --> */}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<link rel="manifest" href="/manifest.webmanifest"/>
<link rel="icon" sizes="32x32" href="/favicon.ico"/>
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)}/>
<link rel="alternate" type="application/rss+xml" title="RSS Feed for baraqkamsani.com" href="/rss.xml"/>

<title>{title}</title>
<meta property="og:url" content={Astro.url}/>
<meta property="og:type" content="website"/>
<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
<meta name="twitter:dnt" content="on"/>
<meta name="description" content={description}/>
<meta name="author" content={author}/>
<slot />{/* <!-- Add image tags in slot. --> */}
